<!-- <div class="mb-3">
    <input type={{type}}
     class="form-control"
     [class.is-invalid]="ngControl.touched&&ngControl.invalid"
     [formControl]="control" 
     placeholder={{label}}
     > 
     <div class="invalid-feedback" *ngIf="control.errors?.['required']">Please enter a password</div>  
     <div class="invalid-feedback" *ngIf="control.errors?.['minlength']">Please must be atleast 4 character</div>  
     <div class="invalid-feedback" *ngIf="control.errors?.[]'password')?.hasError('maxlength')">Please must at be most 8 character</div>  
    </div> -->
